* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #110000;
  font-family: Roboto, sans-serif;
  min-width: 100vw;
  overflow-x: hidden;
  overflow: hidden;

  background-image: radial-gradient(circle at 110.1% 50%, #99a240 20%, #939e3b 50%, #8d9a36 100%);
}

header {
  justify-content: center;
  display: flex;
  width: 100vw;
  background-image: radial-gradient(circle at 110.1% 50%, #99a240 20%, #939e3b 50%, #8d9a36 100%);
}

.description {
  width: 59%;
  background-color: #c0c0c0;
  padding: 15px 30px 10px 30px;
  border: 1px solid black;
  border-radius: 3px;
  margin-bottom: 30px;
}

.tablesDiv {
  padding-top: 10px;
  margin-bottom: 10px;
  max-width: 100%;
  padding-left: 50px;
  padding-right: 65px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

a {
  all: unset;
  cursor: pointer;
  color: rgb(84, 8, 84);
}

a:hover {
  color: purple;
  opacity: 0.8;
}

footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100vw;
  background-color: #fff;
}
